<ion-header>
  <ion-navbar>
    <ion-title>
      YouTube Player
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="categories-wrapper">
    <ion-label class="section-title">Categories</ion-label>
    <ion-scroll scrollX="true" class="categories-buttons-wrapper">
      <button ion-button round color="danger"
              (tap)="searchTrandingVideos()">
        <ion-icon name="ios-flame" style="margin-right: 10px;"></ion-icon>
        Tranding
      </button>
      <div *ngFor="let category of categories">
        <button ion-button round *ngIf="category?.snippet?.assignable"
                (tap)="searchVideos(category?.id)">
          {{ category?.snippet?.title }}
        </button>
      </div>
    </ion-scroll>
  </div>

  <div class="videos-wrapper">
    <ion-label class="section-title">Videos</ion-label>
    <ion-list class="videos-list">
      <ion-item *ngFor="let video of videos" class="youtube-video-cell"
                (tap)="youtube.openVideo(video?.id?.videoId ? video?.id?.videoId : video?.id)">
        <img [src]="video?.snippet?.thumbnails['default']?.url" item-start>
        <h2>{{ video?.snippet?.title }}</h2>
        <p>{{ video?.snippet?.description }}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
